# file
*.fastq
*.fq
*.bam
*.cram
*.vcf
*.bed
*.sam
*.bai
*.tbi
*.idx
*.gz
*.taxids.txt
*.zip
*.jalil
*.sh

# db  
/data/
/database/
/db/
/results/
/output/
/logs/
/.snakemake/
/ListTaxIdV1/
# file temporaires
*.tmp
*.temp
*.swp
*~

# Environnements virtuels
/venv/
/env/
__pycache__

# OS files
.DS_Store
Thumbs.db
